<style type="text/css">
<!--
body {
	background-color: #C4F9FF;
}
-->
</style>{% extends "layout.html" %}
{% block body %}
{% if session.username %}
<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
<dl>
<dt>Title:
<dd><input type=text size=30 name=title>
<dt>Text:
<dd><textarea name=text rows=5 cols=40></textarea>
<dd><input type=submit value=Share>
</dl>
</form>
<form action="{{ url_for('delete') }}" method=post>
<dd></dd>
<dd><a>Input the title you want delete:</a>
<dd><input type=text size=30 name=delete>
<dd><input type=submit value=Confirm>
</form>
<dd></dd>
<a>If you want to change the password, Click </a><a href="{{ ('r') }}">here</a>
<dd></dd>
<a>Register another user:</a><a href="{{ ('rr') }}">Register</a>
{% endif %}
<ul class=entries>
{% for entry in entries %}
<li><h2 class="">{{ entry.title }}</h2>{{ entry.text|safe }}
{% else %}
<li><em>Unbelievable. No entries here so far</em>
{% endfor %}
</ul>
{% endblock %}
